<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="NorthwindContext" 
            providerName="System.Data.SqlClient" 
            connectionString="Server=bitsql.wctc.edu;Database=WCTC-20106-MKAPITAN-NW;User ID=mkapitan;Password=000543478" />
    </connectionStrings>
</configuration>
